
<table >
    <thead>
        <tr>
            <th>Id</th>                      
            <th>Sb No</th>  
            <th>Container No</th>  
            <th>Shipping Line</th>  
            <th>Movement Date</th>
            <th></th> 
            <th></th> 
        </tr> 
    </thead>
   <tbody>  
          Hello
    </tbody>
</table>
<br/>
@Html.ActionLink("Add Item", "Edit", new { Id = 0})
