<input type="text" [(ngModel)]="title" name="title" placeholder="Title..">
<textarea [(ngModel)]="content" name="content" placeholder="Content.."></textarea>
<input type="submit" value="Add a Post" (click)="addPost()">



color: string;
containerno: string;
footer: string;
party: string;
status: string;

<ul *ngFor="let container of containers | async">
  <li>
    <strong>{{ container.containerno}}</strong>
    <br>
    {{container.color}}
    <br>
    {{container.footer}}
    <br>
    {{container.party}}
    <br>
    {{container.status}}
    
  </li>
</ul>