<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	    <script src="https://www.gstatic.com/firebasejs/5.0.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.0.3/firebase-firestore.js"></script>



  </head>



    <body>


    <div class="container-fluid">
        <br/>
        <br/>

        <div class="row">
            <div class="col-lg-9">
                <table class="table table-bordered table-striped table-hover">

                    <thead>
                        <tr bgcolor="#FF0000">
                            <th>Container No</th>
                            <th>Source</th>
                            <th>Capture Date</th>
                            <th>Snapshot</th>
                        </tr>
                    </thead>
                    <tbody id="tb_red">
                       
                    </tbody>
                </table>
            </div>
            <div class="col-lg-3 ">
                <div class="jumbotron jumbotron-fluid bg-danger" style="background-color:#FF0000;text-align: center">
                    <div class="container">
                        <h1 id="tb_red_cnt">0</h1>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-9">
                <table class="table table-bordered table-striped table-hover">

                    <thead>
                        <tr bgcolor="#FFFF00">
                            <th>Container No</th>
                            <th>Source</th>
                            <th>Capture Date</th>
                            <th>Snapshot</th>
                        </tr>
                    </thead>
                    <tbody id="tb_orange">
                       
                    </tbody>
                </table>
            </div>
            <div class="col-lg-3 ">
                <div class="jumbotron jumbotron-fluid bg-danger" style="background-color:#FFFF00;text-align: center">
                    <div class="container">
                        <h1 id="tb_orange_cnt">0</h1>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-9">
                <table class="table table-bordered table-striped table-hover">

                    <thead>
                        <tr bgcolor="#008000">
                            <th>Container No</th>
                            <th>Source</th>
                            <th>Capture Date</th>
                            <th>Snapshot</th>
                        </tr>
                    </thead>
                    <tbody id="tb_green">
                    
                    </tbody>
                </table>
            </div>
            <div class="col-lg-3">
                <div class="jumbotron jumbotron-fluid bg-danger" style="background-color:#008000;text-align: center">
                    <div class="container">
                        <h1 id="tb_green_cnt">0</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />



 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>

   <script>
        // Initialize Firebase

         var config = {
    apiKey: "AIzaSyB1lb1ILTcp6pNz25RLJfP7rdgoE0HUOgI",
    authDomain: "rgbfirestore.firebaseapp.com",
    databaseURL: "https://rgbfirestore.firebaseio.com",
    projectId: "rgbfirestore",
    storageBucket: "",
    messagingSenderId: "270745970969"
  };

        firebase.initializeApp(config);
        const db = firebase.firestore();
        db.settings({ timestampsInSnapshots: true }); 



    </script>
    <script>
const containerListRed = document.querySelector('#tb_red');
const containerListOrange = document.querySelector('#tb_orange');
const containerListGreen = document.querySelector('#tb_green');

const containerListRedCnt = document.querySelector('#tb_red_cnt');
const containerListOrangeCnt = document.querySelector('#tb_orange_cnt');
const containerListGreenCnt = document.querySelector('#tb_green_cnt');


// create element & render cafe
function renderContainer(doc){
    let tr = document.createElement('tr');
    let containerno = document.createElement('td');
    let source = document.createElement('td');  
    let captureDate = document.createElement('td');
    let snapshot = document.createElement('td');

snapshot.setAttribute("style","text-align: center");
 let yardImage = document.createElement('span');
    yardImage.setAttribute('id',doc.id);
    yardImage.setAttribute('src',doc.data().snapshot);
    yardImage.setAttribute('class',"glyphicon glyphicon-camera");
    yardImage.setAttribute('onclick','doSomething("' + doc.id +'");');
    snapshot.appendChild(yardImage);


    tr.setAttribute('data-id', doc.id);
    containerno.textContent = doc.data().containerno;
    source.textContent = doc.data().source;   
    captureDate.textContent = doc.data().captureDate;
    //snapshot.textContent = doc.data().snapshot;
 
    tr.appendChild(containerno);
    tr.appendChild(source);
        tr.appendChild(captureDate);
    tr.appendChild(snapshot);


    if(doc.data().color == '#99FF0000')
    {
      containerListRed.prepend(tr);
containerListRedCnt.textContent = parseInt(containerListRedCnt.textContent)+1;    
    }else if(doc.data().color == '#99FFFF00'){
      containerListOrange.prepend(tr);
      containerListOrangeCnt.textContent = parseInt(containerListOrangeCnt.textContent)+1;    
    }else if(doc.data().color == '#99008000'){
      containerListGreen.prepend(tr);
       containerListGreenCnt.textContent = parseInt(containerListGreenCnt.textContent)+1;    
    }
   

    // deleting data
    // cross.addEventListener('click', (e) => {
    //     e.stopPropagation();
    //     let id = e.target.parentElement.getAttribute('data-id');
    //     db.collection('cafes').doc(id).delete();
    // });
}

// getting data
// db.collection('scanned-containers').orderBy('captureDate').get().then(snapshot => {
//     snapshot.docs.forEach(doc => {
//         renderContainer(doc);
//     });
// });

// saving data
// form.addEventListener('submit', (e) => {
//     e.preventDefault();
//     db.collection('yard-containers').add({
//         name: form.name.value,
//         city: form.city.value
//     });
//     form.name.value = '';
//     form.city.value = '';
// });

// real-time listener
db.collection('scanned-containers').orderBy('captureDate').onSnapshot(snapshot => {
    let changes = snapshot.docChanges();
    changes.forEach(change => {
        console.log(change.doc.data());
        if(change.type == 'added'){
            renderContainer(change.doc);
        } else if (change.type == 'removed'){


           if(change.doc.data().color == '#99FF0000')
    {
       let tr = containerListRed.querySelector('[data-id=' + change.doc.id + ']');
      containerListRed.removeChild(tr);
containerListRedCnt.textContent = parseInt(containerListRedCnt.textContent)-1;    
    }else if(change.doc.data().color == '#99FFFF00'){
       let tr = containerListOrange.querySelector('[data-id=' + change.doc.id + ']');
      containerListOrange.removeChild(tr);
      containerListOrangeCnt.textContent = parseInt(containerListOrangeCnt.textContent)-1;    
    }else if(change.doc.data().color == '#99008000'){
       let tr = containerListGreen.querySelector('[data-id=' + change.doc.id + ']');
      containerListGreen.removeChild(tr);
       containerListGreenCnt.textContent = parseInt(containerListGreenCnt.textContent)-1;    
    }

            //let tr = containerList.querySelector('[data-id=' + change.doc.data().containerno + ']');
            //containerList.removeChild(tr);
        }
    });
});

// updating records (console demo)
// db.collection('cafes').doc('DOgwUvtEQbjZohQNIeMr').update({
//     name: 'mario world'
// });

// db.collection('cafes').doc('DOgwUvtEQbjZohQNIeMr').update({
//     city: 'hong kong'
// });

// setting data
// db.collection('cafes').doc('DOgwUvtEQbjZohQNIeMr').set({
//     city: 'hong kong'
// });
    </script>
</html>