<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	    <script src="https://www.gstatic.com/firebasejs/5.0.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.0.3/firebase-firestore.js"></script>



  </head>
  <body>

    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
		
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>
							Container No
						</th>
						<th>
							Source
						</th>
						<th>
							Image
						</th>	
                        <th>
							Capture Date
						</th>						
					</tr>
				</thead>
				<tbody id="container-data">
					
				</tbody>
			</table>			
		</div>
	</div>
</div>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>

   <script>
        // Initialize Firebase

         var config = {
    apiKey: "AIzaSyB1lb1ILTcp6pNz25RLJfP7rdgoE0HUOgI",
    authDomain: "rgbfirestore.firebaseapp.com",
    databaseURL: "https://rgbfirestore.firebaseio.com",
    projectId: "rgbfirestore",
    storageBucket: "",
    messagingSenderId: "270745970969"
  };

        firebase.initializeApp(config);
        const db = firebase.firestore();
        db.settings({ timestampsInSnapshots: true }); 



    </script>
    <script>
    const containerList = document.querySelector('#container-data');



// create element & render cafe
function renderContainer(doc){
    let tr = document.createElement('tr');
    let containerno = document.createElement('td');
    let source = document.createElement('td');
    let snapshot = document.createElement('td');
    let captureDate = document.createElement('td');


    tr.setAttribute('data-id', doc.containerno);
    containerno.textContent = doc.data().containerno;
    source.textContent = doc.data().source;
    snapshot.textContent = doc.data().snapshot;
    captureDate.textContent = doc.data().captureDate;

    tr.appendChild(containerno);
    tr.appendChild(source);
    tr.appendChild(snapshot);
    tr.appendChild(captureDate);

    containerList.prepend(tr);

    // deleting data
    // cross.addEventListener('click', (e) => {
    //     e.stopPropagation();
    //     let id = e.target.parentElement.getAttribute('data-id');
    //     db.collection('cafes').doc(id).delete();
    // });
}

// getting data
// db.collection('scanned-containers').orderBy('captureDate').get().then(snapshot => {
//     snapshot.docs.forEach(doc => {
//         renderContainer(doc);
//     });
// });

// saving data
// form.addEventListener('submit', (e) => {
//     e.preventDefault();
//     db.collection('yard-containers').add({
//         name: form.name.value,
//         city: form.city.value
//     });
//     form.name.value = '';
//     form.city.value = '';
// });

// real-time listener
db.collection('scanned-containers').onSnapshot(snapshot => {
    let changes = snapshot.docChanges();
    changes.forEach(change => {
        console.log(change.doc.data());
        if(change.type == 'added'){
            renderContainer(change.doc);
        } else if (change.type == 'removed'){
            let tr = containerList.querySelector('[data-id=' + change.doc.containerno + ']');
            containerList.removeChild(tr);
        }
    });
});

// updating records (console demo)
// db.collection('cafes').doc('DOgwUvtEQbjZohQNIeMr').update({
//     name: 'mario world'
// });

// db.collection('cafes').doc('DOgwUvtEQbjZohQNIeMr').update({
//     city: 'hong kong'
// });

// setting data
// db.collection('cafes').doc('DOgwUvtEQbjZohQNIeMr').set({
//     city: 'hong kong'
// });
    </script>
</html>