<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://www.gstatic.com/firebasejs/5.0.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.0.3/firebase-firestore.js"></script>

    <style>
        table,
        th,
        td {
            border: 1px solid black;
            width: 50px;
            padding: 5px;
            text-align: left;
        }
    </style>

</head>



<body>


    <div class="container-fluid">
        <br />
        <br />

        <div class="row">
            <div class="col-lg-12">

                <table class="table table-bordered table-striped table-hover" style="width: 120%">
                    <caption>
                        <div class="col-lg-2">
                            <h1 style="margin-top: 20%">Enbloc Details</h1>
                        </div>


                        <div class="jumbotron jumbotron-fluid bg-danger col-lg-2" style="background-color:#b6d4d6;text-align: center;margin-left:6%">
                            <div class="container-fluid">
                                <h2><span id="tb_twenty">0</span> (20 ft)</h2>
                            </div>

                        </div>

                        <div class="jumbotron jumbotron-fluid bg-danger col-lg-2" style="background-color:#d4cdcd;text-align: center;margin-left:6%">
                            <div class="container">
                                <h2><span id="tb_forty">0</span> (40 ft)</h2>

                            </div>
                        </div>

                        <div class="jumbotron jumbotron-fluid bg-danger col-lg-2" style="background-color:#b6d4d6;text-align: center;margin-left:6%">
                            <div class="container">
                                <h2><span id="tb_total">0</span> (Total)</h2>

                            </div>
                        </div>
                    </caption>
                    <thead style="background-color: cadetblue">
                        <tr>
                            <th>Srl</th>
                            <th>Container No.</th>
                            <th>Container Type</th>
                            <th>Wt</th>
                            <th>Cargo</th>
                            <th>ISO Code</th>
                            <th>Seal No 1</th>
                            <th>Seal No 2</th>
                            <th>Seal No 3</th>
                            <th>IMDG Class</th>
                            <th>Refer Temprature</th>
                            <th>OOG Deatils</th>
                            <th>Container Gross Details</th>
                            <th>Cargo Description</th>
                            <th>BL Number</th>
                            <th>Name</th>
                            <th>Item No</th>
                            <th>Disposal Mode</th>

                        </tr>
                    </thead>
                    <tbody id="tb_vessel">

                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <br />
    <br />



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

<script>
    // Initialize Firebase

    var config = {
        apiKey: "AIzaSyB1lb1ILTcp6pNz25RLJfP7rdgoE0HUOgI",
        authDomain: "rgbfirestore.firebaseapp.com",
        databaseURL: "https://rgbfirestore.firebaseio.com",
        projectId: "rgbfirestore",
        storageBucket: "",
        messagingSenderId: "270745970969"
    };

    firebase.initializeApp(config);
    const db = firebase.firestore();
    db.settings({ timestampsInSnapshots: true });



</script>
<script>
    const tb_vessel = document.querySelector('#tb_vessel');

    const tb_total = document.querySelector('#tb_total');
    const tb_twenty = document.querySelector('#tb_twenty');
    const tb_forty = document.querySelector('#tb_forty');


    // create element & render cafe
    function renderContainer(doc) {

        let tr = document.createElement('tr');

        let srlno = document.createElement('td');
        let container_no = document.createElement('td');
        let container_type = document.createElement('td');
        let wt = document.createElement('td');
        let cargo = document.createElement('td');
        let iso_code = document.createElement('td');
        let seal_no_1 = document.createElement('td');
        let seal_no_2 = document.createElement('td');
        let seal_no_3 = document.createElement('td');
        let imdg_class = document.createElement('td');
        let refer_temrature = document.createElement('td');
        let oog_deatils = document.createElement('td');
        let container_gross_details = document.createElement('td');
        let cargo_description = document.createElement('td');
        let bl_number = document.createElement('td');
        let item_no = document.createElement('td');
        let disposal_mode = document.createElement('td');
        let name = document.createElement('td');



        tr.setAttribute('data-id', doc.data().id);


        srlno.textContent = doc.data().srlno;
        container_no.textContent = doc.data().container_no;
        container_type.textContent = doc.data().container_type;
        wt.textContent = doc.data().wt;
        cargo.textContent = doc.data().cargo;
        iso_code.textContent = doc.data().iso_code;
        seal_no_1.textContent = doc.data().seal_no_1;
        seal_no_2.textContent = doc.data().seal_no_2;
        seal_no_3.textContent = doc.data().seal_no_3;
        imdg_class.textContent = doc.data().imdg_class;
        refer_temrature.textContent = doc.data().refer_temrature;
        oog_deatils.textContent = doc.data().oog_deatils;
        container_gross_details.textContent = doc.data().container_gross_details;
        cargo_description.textContent = doc.data().cargo_description;
        bl_number.textContent = doc.data().bl_number;
        item_no.textContent = doc.data().item_no;
        disposal_mode.textContent = doc.data().disposal_mode;
        name.textContent = doc.data().name;


        tr.appendChild(srlno);
        tr.appendChild(container_no);
        tr.appendChild(container_type);
        tr.appendChild(wt);
        tr.appendChild(cargo);
        tr.appendChild(iso_code);
        tr.appendChild(seal_no_1);
        tr.appendChild(seal_no_2);
        tr.appendChild(seal_no_3);
        tr.appendChild(refer_temrature);
        tr.appendChild(imdg_class);
        tr.appendChild(oog_deatils);
        tr.appendChild(container_gross_details);
        tr.appendChild(cargo_description);
        tr.appendChild(bl_number);
        tr.appendChild(name);
        tr.appendChild(item_no);
        tr.appendChild(disposal_mode);


        tb_vessel.prepend(tr);


        if (doc.data().container_type.substring(0, 2) == '40') {
            tb_forty.textContent = parseInt(tb_forty.textContent) + 1;
        } else if (doc.data().container_type.substring(0, 2) == '20') {
            tb_twenty.textContent = parseInt(tb_twenty.textContent) + 1;
        }

        tb_total.textContent = parseInt(tb_total.textContent) + 1;
    }

    // getting data
    // db.collection('scanned-containers').orderBy('captureDate').get().then(snapshot => {
    //     snapshot.docs.forEach(doc => {
    //         renderContainer(doc);
    //     });
    // });

    // saving data
    // form.addEventListener('submit', (e) => {
    //     e.preventDefault();
    //     db.collection('yard-containers').add({
    //         name: form.name.value,
    //         city: form.city.value
    //     });
    //     form.name.value = '';
    //     form.city.value = '';
    // });

    // real-time listener
    db.collection('enbloc-details').where("vessel_no", "==", getQueryStringValue("q")).orderBy('srl','desc').onSnapshot(snapshot => {
        let changes = snapshot.docChanges();
        changes.forEach(change => {
            console.log(change.doc.data());
            if (change.type == 'added') {
                renderContainer(change.doc);
            } else if (change.type == 'removed') {

                let tr = containerListRed.querySelector('[data-id=' + change.doc.data().id + ']');
                tb_vessel.removeChild(tr);
                if (change.doc.data().container_type.substring(0, 2) == '40') {
                    tb_forty.textContent = parseInt(tb_forty.textContent) - 1;
                }
                else if (change.doc.data().container_type.substring(0, 2) == '20') {
                    tb_twenty.textContent = parseInt(tb_twenty.textContent) - 1;
                }
            }
        });
    });

</script>

</html>