<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	    <script src="https://www.gstatic.com/firebasejs/5.0.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.0.3/firebase-firestore.js"></script>

  </head>
  <body>



    <div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <table class="table table-bordered table-striped table-hover">
                <caption><h1>YARD - 1A (<span id="yard1A_Current"></span>/<span id="yard1A_Total"></span>)</h1></caption>
                <thead id="yard1A-header" style="background-color: cadetblue">
                    <tr>
                        <th>Container No</th>
                        <th>Yard</th>
                        <th>Capture Date</th>
                        <th>Snapshot</th>
                    </tr>
                </thead>
                <tbody id="yard1A-data">
                    
                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            <table class="table table-bordered table-striped table-hover">
                <caption><h1>YARD - 1B (<span id="yard1B_Current"></span>/<span id="yard1B_Total"></span>)</h1></caption>
                <thead id="yard1B-header" style="background-color: cadetblue">
                    <tr>
                        <th>Container No</th>
                        <th>Yard</th>
                        <th>Capture Date</th>
                        <th>Snapshot</th>
                    </tr>
                </thead>
                 <tbody id="yard1B-data">
                    
                </tbody>
            </table>
        </div>
    </div>
</div>






 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>

   <script>
        // Initialize Firebase

         var config = {
    apiKey: "AIzaSyB1lb1ILTcp6pNz25RLJfP7rdgoE0HUOgI",
    authDomain: "rgbfirestore.firebaseapp.com",
    databaseURL: "https://rgbfirestore.firebaseio.com",
    projectId: "rgbfirestore",
    storageBucket: "",
    messagingSenderId: "270745970969"
  };

        firebase.initializeApp(config);
        const db = firebase.firestore();
        db.settings({ timestampsInSnapshots: true }); 
    </script>
    <script>
    const yard1A = document.querySelector('#yard1A-data');

 const yard1B = document.querySelector('#yard1B-data');

// create element & render cafe
function renderYards(doc){
    let tr = document.createElement('tr');
    let containerno = document.createElement('td');
    let yardid = document.createElement('td');
    let captureDate = document.createElement('td');
    let snapshot = document.createElement('td');
   // let yardcolor = document.createElement('td');
   
   snapshot.setAttribute("style","text-align: center");
   
    let yardImage = document.createElement('span');
    yardImage.setAttribute('id',doc.id);
    yardImage.setAttribute('src',doc.data().snapshot);
    yardImage.setAttribute('class',"glyphicon glyphicon-camera");
    yardImage.setAttribute('onclick','doSomething("' + doc.id +'");');
    snapshot.appendChild(yardImage);


    tr.setAttribute('data-id', doc.id);
   // tr.setAttribute('class', doc.data().yardcolor == '#99FF0000' ? '#FF0000' : (doc.data().yardcolor == '#FFFF00' ? 'warning' : '#008000') );
    containerno.textContent = doc.data().containerno;
    //snapshot.textContent = doc.data().snapshot;
    //yardcolor.textContent = doc.data().yardcolor;
    yardid.textContent = doc.data().yardid;
    captureDate.textContent = doc.data().captureDate.toDate().toShortFormat();
    yardid.setAttribute("style","background-color: #" + doc.data().yardcolor.slice(3));

    tr.appendChild(containerno);
    tr.appendChild(yardid);
    tr.appendChild(captureDate);
    tr.appendChild(snapshot);
  //  tr.appendChild(yardcolor);
   


    if(doc.data().yardid == '1A'){
        yard1A.prepend(tr);   
    }else{
        yard1B.prepend(tr);
    }
   

    // deleting data
    // cross.addEventListener('click', (e) => {
    //     e.stopPropagation();
    //     let id = e.target.parentElement.getAttribute('data-id');
    //     db.collection('cafes').doc(id).delete();
    // });
}


// getting data
// db.collection('yard-containers').orderBy('captureDate').get().then(snapshot => {
//     snapshot.docs.forEach(doc => {
//         renderYards(doc);
//     });
// });

// saving data
// form.addEventListener('submit', (e) => {
//     e.preventDefault();
//     db.collection('yard-containers').add({
//         name: form.name.value,
//         city: form.city.value
//     });
//     form.name.value = '';
//     form.city.value = '';
// });

// real-time listener
const span_1ACurrent = document.querySelector('#yard1A_Current');

const span_1ATotal = document.querySelector('#yard1A_Total');
const span_1BCurrent = document.querySelector('#yard1B_Current');
const span_1BTotal = document.querySelector('#yard1B_Total');

db.collection('yard-containers').orderBy('captureDate').onSnapshot(snapshot => {
    let changes = snapshot.docChanges();
    changes.forEach(change => {
        console.log(change.doc.data());
        if(change.type == 'added'){
            renderYards(change.doc);
        } else if (change.type == 'removed'){
          if(change.doc.data().yardid == '1A'){
 let tr = yard1A.querySelector('[data-id=' + change.doc.id + ']');
            yard1A.removeChild(tr);
          }else{
 let tr = yard1B.querySelector('[data-id=' + change.doc.id + ']');
            yard1B.removeChild(tr);
          }
           
        }
    });
});



db.collection('yard-capacity-demo').onSnapshot(snapshot => {
 let changes = snapshot.docChanges();
 changes.forEach(change => {
       
       if(change.doc.data().yard == '1A'){
    span_1ACurrent.textContent = parseInt(change.doc.data().present_count);    
    span_1ATotal.textContent = parseInt(change.doc.data().total_capacity);    
       }else{
     span_1BCurrent.textContent = parseInt(change.doc.data().present_count);    
  span_1BTotal.textContent = parseInt(change.doc.data().total_capacity);    
       }
       
           
        
    });
});

// updating records (console demo)
// db.collection('cafes').doc('DOgwUvtEQbjZohQNIeMr').update({
//     name: 'mario world'
// });

// db.collection('cafes').doc('DOgwUvtEQbjZohQNIeMr').update({
//     city: 'hong kong'
// });

// setting data
// db.collection('cafes').doc('DOgwUvtEQbjZohQNIeMr').set({
//     city: 'hong kong'
// });
    </script>
</html>